@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <img src="/Content/image/background2.jpg" width="800" height="400"/>
    <h1>Wilson's Tea House</h1>
    <p class="lead">A tea house located in Plymouth</p>
    <p><button type="button" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("Index", "Food")'">Order Now! </button></p>
</div>

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>  
</div>